{% extends 'layout.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">
        <p>{{ message }}</p>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
  <ul>
    {% for file in files %}
      <li>
        <a href="{{ url_for('document', file_name=file) }}">{{ file }}</a>
        <a href="{{ url_for('edit_document', file_name=file)}}">Edit</a>
        <form class="inline"
              action="{{ url_for('delete_document', file_name=file)}}"
              method="post">
          <button type="submit" class="delete">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('new_document') }}">New Document</a>
{% endblock %}