{% extends 'layout.html' %}

{% block content %}
  {% if lists %}
    <ul id="lists">
      {% for list in lists %}
      <li class="{{ 'complete' if is_list_completed(list) else '' }}">
        <a href="{{ url_for('display_todo_list', list_id=list.id) }}">
          <h2>{{ list.title }}</h2>
          <p>{{ todos_remaining(list) }} / {{ list.todos | length }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p id="no_list">You don't have any todo lists. Why not create one?</p>
  {% endif %}
{% endblock %}

{% block header_links %}
  <a class="add" href="{{url_for('add_todo_list')}}">New List</a>
{% endblock %}